<div class="panel-group">

		
	<font face="arial" size="6" color="black">
		Comentarios:
	</font>


	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">

				<% comments = Favor.find(params[:id]).comments.all%>

				<% if comments.empty? %>
           			<p>
						<font face="arial" size="5" > No tienes comentarios </font>
					</p>
           		<% else %>
					<% comments.each do |c| %>

						<table class="table table-hover">
						
							<tr> 
								<td>
									<font face="arial" size="4" color="black">
										<%= c.user.name %>
										<%= c.user.apellido %>
									</font>
									<font face="arial" size="3" color="grey">
										Escribió el 
										<%= c.created_at.day %>/<%= c.created_at.month %>/<%= c.created_at.year %> a las <%= c.created_at.hour %>:<%= c.created_at.min %> 
									</font>
								</td>
							</tr>

							<tr>
								<td>
									<font face="arial" size="3" color="grey">
										<%= c.detalle %>
									</font>
								</td>
							</tr>

						</table>

						<% @comentario= c %>
						<%= render "answers/answersIndex" %>
						<%= render "answers/answersNew"%>

					<% end %>

            	<% end %>

			</div>
		</div>
	</div>
			
</div>