<% if user_signed_in? %>
	<div class="col-lg-8 ">
<% else %>
	<div class="col-lg-8 col-md-offset-2">
<% end %>
	<div class="row">
	    <div class="panel panel-default">
	 		<div class="panel-body">
				<% if user_signed_in? %>
					<td ALIGN=right>
				    	<button type="button" class="btn btn-default" href="/favors/new" >Pedí una gauchada ! </button>
				    </td>
				    <td ALIGN=left>
				    	<button type="button" class="btn btn-default" href="/favors?orden=visitas&order_by=<%= @order_by %>">Ordenar por visitas </button>
				    	<a class="btn btn-default btn-lg" href="/favors?orden=visitas&order_by=<%= @order_by %>" role="button"> Ordenar por visitas  </a>
				    </td>
				<% end %>
				<table class="table">
				 	<tr>
				 		<th>
							<font face="arial" size="5" color="orange"> Imagen  </font>
						</th>
						<th>
							<font face="arial" size="5" color="orange"> Titulo </font>
						</th>
						<th>
							<font face="arial" size="5" color="orange"> Detalle  </font>
						</th>
						<th>
							<font face="arial" size="5" color="orange"> Ciudad </font>
						</th>
					</tr>
					<% @favores.each do |f| %>
						<tr> 
							<td>
								<font face="arial" size="3" color="black">
									<%= image_tag f.imagen, size: '100x100' %>
								</font>
							</td>
							<td>
								<font face="arial" size="3" color="black">
									<%= f.titulo %>
								</font>
							</td>
							<td>
								<font face="arial" size="3" color="black">
									<%= f.descripcion.truncate(50) %>
								</font>
							</td>
							<td>
								<font face="arial" size="3" color="black">
									<%= f.localidad %>
								</font>
							</td>	
							<% if user_signed_in? %>
								<td>
									<font face="arial" size="3" color="black"> 
											<%= link_to "Ver detalle", f %>
									</font>
								</td>
								<% if current_user.admin? %>
									<td>
										<font face="arial" size="3" color="black">
											<%= link_to "Eliminar", f, method: :delete, data: { confirm: 'Esta seguro de eliminar la gauchada?' } %>
										</font>
									</td>
								<% end %>
							<% end %>
						</tr>
					<% end %>	 
				</table>
				<% if user_signed_in? %>
					<p>
						<a class="btn btn-default btn-lg" href="/" role="button"> Volver </a>
					</p> 
				<% end %>
			</div>
		</div>	
	</div>
</div>
<% if user_signed_in? %>
	<div class="col-lg-2 text-center">
		<div class="panel panel-default">
	 		<div class="panel-body">
		 		<font face="arial" size="5" color="orange">
					<p>
						Menú de búsqueda:
					</p>
				<%= form_tag favors_path, method: :get do %>
	          		<%= text_field_tag :titulo, params[:titulo], class: "form-control", placeholder: "Titulo" %>
	          		<%= text_field_tag :localidad, params[:localidad], class: "form-control", placeholder: "Localidad" %>
	        			<%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md"%>		
			    <% end %>
			</div>
		</div>
	</div>
<% end %>
	
