<div class="container-fluid">
	<div class="row">
    <div class="col-lg-10">

	<div class="jumbotron"> 
		<td><P ALIGN=right>
        <P ALIGN=left>         
			<font face="arial" size="5" color="orange"> A continuacion se encuentra el detalle del favor  </font>
		
		<p>

		</p>  
  	
  		<table class="table">
  			
 			<tr>

 				<th>
 					<font face="arial" size="4" color="orange">  Titulo </font>
 				</th>
 				
				<th>
					<font face="arial" size="4" color="orange">  Detalle </font>
				</th>
				

				<th>
					<font face="arial" size="4" color="orange">  Imagen </font>
				</th>

               <% if (user_signed_in?) && (@favor.user != current_user) %>
               <th>
					<font face="arial" size="4" color="orange">  Quiero ayudar! </font>
				</th>
               <% end %>
                
			</tr>

				<td>
					<font face="arial" size="3" color="black"> <%= @favor.titulo %> </font>
				</td>
                
                <td>
               		<font face="arial" size="3" color="black"> <%= @favor.descripcion %> </font>
                </td>

                <td>
                	<%= image_tag @favor.imagen, size: '350x350' %>
                </td>

                
                
                
                <% if (user_signed_in?) && (@favor.user != current_user) %>
                  <td>
               		<%= form_for(Postulation.new) do |p| %>
               
                      <p>

                        <font face="arial" size="3" color="grey"><%= p.label :Indicar_la_fecha_en_la_que_puedo_resolver_la_gauchada %></font>
					       
					     <%= p.date_field :fecha %>					
				    
				     </p>
				    <p>
					    
                        <font face="arial" size="3" color="grey"> <%= p.label :descripcion %> </font>
					    


		                <%= p.text_area :descripcion, class: 'form-control', label: 'Descripcion', placeholder: 'Ingrese una breve descripcion de tu postulacion' %>
				    </p>
                    
				     <p>								
					     <%= p.hidden_field :favor_id, value:@favor.id %> 
					
				     </p>

				       <%= p.submit 'Guardar' %>
			
	                 <% end %>
                     </td>
               <% end %>

               
                 

		</table>

       
		<p>
			<a class="btn btn-warning btn-lg" href="/favors" role="button"> Volver </a>
		</p> 


	</div>
	