<div class="container-fluid">
	<div class="row">
    <div class="col-md-17">

	<div class="jumbotron"> 
		

        <p>
        </p>
		
		<font face="arial" size="6" color="black">
			Listado de las postulaciones:
		</font>
		
		<p>

		</p>  
  		<table class="table">

 			<tr>
				<th>
					<font face="arial" size="5" color="Grey"> Descripcion </font>
				</th>

                <th>
					<font face="arial" size="5" color="Grey"> Fecha de realizacion de la guachada </font>
				</th>

				<th>
					<font face="arial" size="5" color="Grey"> Email del usuario </font>
				</th>

				<th>
					<font face="arial" size="5" color="Grey"> Nombre del usuario  </font>
				</th>

				<th>
				 </th>
				 <th>
				 </th>

				
			</tr>
            <% postulations = Favor.find(params[:id]).postulations.all.order(:id) %>
			<% postulations.each do |p| %>
             
				<tr> 
					<td>
						<font face="arial" size="3" color="black">
							<%= p.descripcion %>
						</font>
					</td>

                    <td>
						<font face="arial" size="3" color="black">
							<%= p.fecha %>
						</font>
					</td>

					<td>
						<font face="arial" size="3" color="black">
							<%= p.user.email%>
						</font>
					</td>

					<td>
						<font face="arial" size="3" color="black">
							<%= p.user.name %>
							<%= p.user.apellido %>
						</font>
					</td>
					<td>
						<% if p.aceptar %>
							
							<div class="col-md-5">
								<td> <%= link_to "Aceptar", p,method: :delete, class: 'btn btn-success btn-sm' %> </td>
				 			</div>
						<% end %>
				   	</td>

				</tr> 

				
	
			<% end %>

		</table>
		<p>
			<a class="btn btn-warning btn-lg" href="/" role="button"> Volver </a>
		</p> 
	</div>	
</div>

