<div class="container-fluid">
	<div class="row">
    	<div class="col-lg-17">
			<div class="panel panel-default">
		        <div class="panel-body">
			
			       	<font face="arial" size="6" color="black">
						Postulaciones:
					</font>
						
					<table class="table table-hover">		
			 			<tr>
							<th>
								<font face="arial" size="4" color="Grey"> Descripcion </font>
							</th>

			                <th>
								<font face="arial" size="4" color="Grey"> Fecha de realizacion de la guachada </font>
							</th>

							<th>
								<font face="arial" size="4" color="Grey"> Nombre y Apellido </font>
							</th>

							 <th>
							   <font face="arial" size="4" color="Grey"> Localidad  </font>
							 </th>

							 <th>
							   <font face="arial" size="4" color="Grey"> Cantidad de puntos  </font>
							 </th>

							 <th>
							   <font face="arial" size="4" color="Grey"> Logro  </font>
							 </th>
						</tr>
			            
                        
						<% postulations = Favor.find(params[:id]).postulations.all.order(:id) %>
						<% postulations.each do |p| %>
						

						<tr> 
								<td>
									<font face="arial" size="3" color="black">
										<%= p.descripcion %>
									</font>
								</td>

			                    <td>
									<font face="arial" size="3" color="black">
										<%= p.fecha %>
									</font>
								</td>
							

								<td>
									<font face="arial" size="3" color="black">
										<%= p.user.name %>
										<%= p.user.apellido %>
									</font>
								</td>

			                    <td>
									<font face="arial" size="3" color="black">
										<%= p.user.localidad%>
									</font>
								</td>
			                     
			                    <td>
									<font face="arial" size="3" color="black">
										<%= p.user.puntos %>
									</font>
								</td> 

								<td>
									<font face="arial" size="3" color="black">
										<%= p.user.logro.nombre %>
									</font>
								</td> 

								
                                   
                                  <% if p.aceptar == true %>
                                     <td>
										<div class="col-md-5">
										     <td>
										          <font face="calibri" size="4" color="black"> Aceptaste esta postulacion! contacta al usuario <%= p.user.email %>  </font>
										      </td>
									   </div>									    
                                     </td>
								  <% end %> 						    
								 		
			                    
			                    <% if p.fecha >= Date.today  && p.aceptar == false  %>
									<td> 
										<div class="col-md-3">
												<td> <%= link_to "Aceptar",evaluar_postulation_path(p, aceptar: "true"), method: :post, class: 'btn btn-info btn-sm' %>
												 </td>
								 		</div>
									</td>
									<td> 
										<div class="col-md-3">
												<td> <%= link_to "Rechazar",evaluar_postulation_path(p, noaceptar: "false"), method: :post, class: 'btn btn-info btn-sm' %>
												 </td>
								 		</div>
									</td>

								<% else %>

			                        <% if p.aceptar == true  %>			                        	

   									    <td> 
											<div class="col-md-3">	                               
												<td>									
													<%= link_to "Cumplio",evaluar1_postulation_path(p, cumplio: "true"), method: :post, class: 'btn btn-info btn-sm' %>		
												</td>										
									 		</div>
										</td>  	
										<td> 								    
											<div class="col-md-3">
												<td>
													
													<%= link_to "No Cumpliò", evaluar1_postulation_path(p, nocumplio:  "false"), method: :post ,class: 'btn btn-success btn-sm' %> 
												</td>
									 		</div>
										</td>

                                         					
									 <% end %>

			                    <% end %>

			                    <% if p.nocumplio == false %>
                                    
                                   <td>
										<div class="col-md-3">
                                         <th>
										     <font face="calibri" size="4" color="Red"> Este usuario no cumplio su palabra, puede republicar el favor! </font>
									    </th>
                                         </div>
								   </td>

								<% end %>
								
								<% if p.cumplio == true %>
                                   <td>
										<div class="col-md-3">
				                                <th>
													<font face="calibri" size="4" color="orange"> Este usuario cumplio su palabra </font>
												</th>
	                                    </div>
							       </td>
								<% end %>

								
							</tr> 

						<% end %>	
				    </table>
					
			</div>	
		</div>
	</div>	
</div>

