<div class="panel-group">
	<div class="col-md-12">
		<div class="panel panel-default">			
			<div class="panel-body">
				<font face="arial" size="6" color="black">
						Postulaciones:
				</font>	
				<div class="row">
					<div class="col-md-12">
					    <div class="panel panel-default">
        			        <div class="panel-body">	 	
								<table class="table table-hover">		
						 			<tr>
										<th>
											<font face="arial" size="4" color="Grey"> Descripcion </font>
										</th>

						                <th>
											<font face="arial" size="4" color="Grey"> Fecha de realizacion de la gauchada </font>
										</th>

										<th>
											<font face="arial" size="4" color="Grey"> Nombre y Apellido </font>
										</th>

										 <th>
										   <font face="arial" size="4" color="Grey"> Localidad  </font>
										 </th>

										 <th>
										   <font face="arial" size="4" color="Grey"> Cantidad de puntos  </font>
										 </th>

										 <th>
										   <font face="arial" size="4" color="Grey"> Logro  </font>
										 </th>

										 <th>
										   <font face="arial" size="4" color="Grey">   </font>
										 </th>

										 <th>
										   <font face="arial" size="4" color="Grey">   </font>
										 </th>
									</tr>
						            
			                        
									<% postulations = Favor.find(params[:id]).postulations.all.order(:id) %>
									<% postulations.each do |p| %>
									

									<tr> 
											<td>
												<font face="arial" size="3" color="black">
													<%= p.descripcion %>
												</font>
											</td>

						                    <td>
												<font face="arial" size="3" color="black">
													<%= p.fecha %>
												</font>
											</td>
										

											<td>
												<font face="arial" size="3" color="black">
													<%= p.user.name %>
													<%= p.user.apellido %>
												</font>
											</td>

						                    <td>
												<font face="arial" size="3" color="black">
													<%= p.user.localidad%>
												</font>
											</td>
						                     
						                    <td>
												<font face="arial" size="3" color="black">
													<%= p.user.puntos %>
												</font>
											</td> 

											<td>
												<font face="arial" size="3" color="black">
													<%= p.user.logro.nombre %>
												</font>
											</td>
			                                   
				                            <% if p.aceptar == true %>
			                             
											     <td> 								         
											          <font face="calibri" size="4" color="black"> Aceptaste esta postulacion! contacta al usuario <%= p.user.email %>  </font>
											     </td>
										 
											<% end %> 						    
											 		
						                    
						                    <% if p.fecha >= Date.today  && p.aceptar == false  %>
											 	
													<td> <%= link_to "Aceptar",evaluar_postulation_path(p, aceptar: "true"), method: :post, class: 'btn btn-info btn-sm', data: { confirm: 'Esta seguro de aceptar esta postulacion?' } %>
													 </td>
											<% end %> 
										</tr> 

									<% end %>	
							    </table>
					
                            </div>
                        </div>
                    </div>
                </div>

			</div>
		</div>
	</div>
</div>