 <div class="panel-group">
	<div class="col-md-12">
		<div class="panel panel-default">			
			<div class="panel-body">
				<font face="arial" size="6" color="black">
						Postulaciones:
				</font>	
				<div class="row">
					<div class="col-md-12">
					    <div class="panel panel-default">
        			        <div class="panel-body">

								<table class="table table-hover">		
						 			<tr>
										<th>
											<font face="arial" size="4" color="black"> Descripcion </font>
										</th>

						                <th>
											<font face="arial" size="4" color="black"> Fecha de realizacion de la gauchada </font>
										</th>

										<th>
											<font face="arial" size="4" color="black"> Nombre y Apellido </font>
										</th>

										 <th>
										   <font face="arial" size="4" color="black"> Localidad  </font>
										 </th>

										 <th>
										   <font face="arial" size="4" color="black"> Cantidad de puntos  </font>
										 </th>

										 <th>
										   <font face="arial" size="4" color="black"> Logro  </font>
										 </th>									  

										  
									</tr>
						            
			                        
									<% p = Favor.find(params[:id]).postulations.all.order(:id).find_by(aceptar: true)  %>
									

									<tr> 
											<th>
												<font face="arial" size="3" color="Grey">
													<%= p.descripcion %>
												</font>
											</th>

						                    <th>
												<font face="arial" size="3" color="Grey">
													<%= p.fecha %>
												</font>
											</th>
										

											<th>
												<font face="arial" size="3" color="Grey">
													<%= p.user.name %>
													<%= p.user.apellido %>
												</font>
											</th>

						                    <th>
												<font face="arial" size="3" color="Grey">
													<%= p.user.localidad%>
												</font>
											</th>
						                     
						                    <th>
												<font face="arial" size="3" color="Grey">
													<%= p.user.puntos %>
												</font>
											</th> 

											<th>
												<font face="arial" size="3" color="Grey">
													<%= p.user.logro.nombre %>
												</font>
											</th> 
											
			                                
									</tr>
									<tr> 
									    
											<div class="col-md-12">
											    <div class="panel-body">				
					                                  <table class="table table-hover">
                                                     <th>  
						                                  <% if p.aceptar == true %>
													          <font face="arial" size="4" color="black"> Aceptaste esta postulación! contacta al usuario:  <font face="arial" size="4" color="orange"> <%= p.user.email %> </font> </font>	
														  <% end %> 						    
											        </th>	
 													<th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>
                                                    <th>
                                                    </th>	
					                                <th>  
							                            <% if p.aceptar == true && p.cumplio == false %>           	
							                        																									
															<%= link_to "Cumplio",evaluar1_postulation_path(p, cumplio: "true"), method: :post, class: 'btn btn-info btn-sm' , data: { confirm: 'Esta seguro de que este usuario cumplio su palabra ?' } %>	
															            		
																														
															<%= link_to "No Cumpliò", evaluar1_postulation_path(p, nocumplio:  "false"), method: :post ,class: 'btn btn-success btn-sm' , data: { confirm: 'Esta seguro de que este usuario no cumplio su palabra?' } %> 
														
											 		    <% end %>
													</th>

										
										   <th>
			                                <% if p.nocumplio == false %>                                  
						                            <td>                  
												     <font face="calibri" size="4" color="Red"> Este usuario no cumplio su palabra, puedes republicar el favor!  <%= link_to "Republica tu favor", republicar_favor_path(p.favor) %> </font>
											    	</td>
											<% end %>								
											<% if p.cumplio == true %>                               
				                                   <td> 
				                                    <% p.nocumplio = false %>		                                    
													<font face="calibri" size="4" color="green"> Este usuario cumplio su palabra </font>
												   </td>
				                            <% end %>
				                            </th>
                                         
									                 </table> 
									            </div>
									     </div>
									       
									</tr>										
										
							    </table>
                            </div>
                        </div>
                    </div>
                </div>

			</div>
		</div>
	</div>
</div>