<h1 class="text-center"> Menú de Logros </h1>


<table class="table">

	<tr>
		<th> Nombre </th>
		<th> Descripción </th>
		<th> Límite inferior del rango</th>
		<th> Límite superior del rango </th>
		<th> Categoría activa </th>
	</tr>
	<% @inf_ant=1500 %>
	<% @sup_ant=0 %>

	<% logros = Logro.all %>
	<% logros.each do |l| %>
		<tr>
			<td> <%= l.nombre %> </td>
			<td> <%= l.descripcion %> </td>	
			<td> <%= l.limite_inferior_rango %> </td>
			<td> <%= l.limite_superior_rango %> </td>
			<td> <%= l.marca %>
			<% if l.limite_inferior_rango < @sup_ant %>
				<p> Conflicto con los límites de puntos de otros logros </p>
			<% end %>
			<% if l.limite_superior_rango < l.limite_inferior_rango %>
				<p>  Error, los límites están invertidos. </p>
			<% end %>
			<% @inf_ant=l.limite_inferior_rango %>
			<% @sup_ant=l.limite_superior_rango %>
			<% if l.marca %>
					<%= link_to "Desactivar", l,method: :delete, class: 'btn btn-danger btn-sm' %>
				<%  else %>
					<%= link_to "Activar", l,method: :delete, class: 'btn btn-success btn-sm' %>
				<% end %>
			 </td>
			<td>
				<%= link_to "Editar",edit_logro_path(l), class: 'btn btn-info btn-sm' %>
			</td>
		</tr>
	<% end %>

</table>
<h1 class="text-center"> <%= link_to "Crear nuevo logro", new_logro_path, class: 'btn btn-info btn-lg' %> </h1>