<div class="panel-group">

	<div class="col-md-2 col-md-2 list group">

		<% if user_signed_in? %>

			<% if current_user.admin? %>

				<div class="panel panel-default">
					<div class="panel-body">
						<font face="arial" size="5" color="orange">
						<p>
							Menú administrador:
						</p>
						</font>
				 
						<p> <%= link_to "Menú de Logros", logros_path %> </p>
						<p> <%= link_to "Ver reportes de ganancias" %> </p>
						<p> <%= link_to "Ver reportes de usuarios" %> </p>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<font face="arial" size="5" color="orange">
						<p>
							Menú usuario:
						</p>
						</font>

						<p> <%= link_to "Inicio", root_path %> </p>
						<p> <%= link_to "Ver mis gauchadas", mis_favores_favors_path %> </p>
						<p> <%= link_to "Ver Listado de gauchadas", favors_path %> </p>
						<p> <%= link_to "Comprar puntos" %> </p>
						
					</div>
				</div>

			<% else %>

				<div class="panel panel-default">
					<div class="panel-body">
						<p> <%= link_to "Inicio", favors_path %> </p>
						<p> <%= link_to "Mis gauchadas", mis_favores_favors_path %> </p>
						<p> <%= link_to "Comprar puntos" %> </p>
										
					</div>
				</div>

			<% end %>
			
		<% end %>

	</div>
</div>