
<head>
  <title>Gauchada</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<div class="container-fluid">
  <div class="row">

  <div class="col-xs-12 col-md-12"> 
  <body>
       <%= render "layouts/header" %>
       <% if user_signed_in? %>


       <FONT COLOR="#000000"><h3>Bienvenido, <%= current_user.name %> <%= current_user.apellido %> </h3></FONT>
              

       <% end %>

<%= yield %>

</body>
</div>


   

</div>



